<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.BoardDAO">
	<insert id="boardWrite" parameterType="hashmap">
	INSERT INTO board (boardIdx,id,subject,content)
	VALUES (boardIdx_seq.NEXTVAL,#{id},#{subject},#{content})
	</insert>
	
	<select id="boardList" resultType="BoardDTO">
		SELECT * FROM board
	</select>
	
	<delete id="boardDelete">
		DELETE FROM board WHERE boardIdx=#{param1}
	</delete>
	
	<select id="boardDetail" resultType="BoardDTO">
		SELECT * FROM board WHERE boardIdx=#{param1}
	</select>
	
	<update id="upHit">
		UPDATE board SET bHit = bHit+1 WHERE boardIdx=#{param1}
	</update>
	
 	<update id="boardUpdate" parameterType="hashmap">
		UPDATE board SET subject=#{subject}, content=#{content} WHERE boardIdx=#{boardIdx}
	</update> 
</mapper>